<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.github.aliyazdi75.flutter_spotify_auth">
    <application>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
